DB_URL=jdbc:mysql://<IP_DATABASE>:3306/<NAMA_DATABASE>?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USER=<USER_DATABASE>
DB_PASSWORD=<PASSWORD_DATABASE>
APPIUM_URL=http://host.docker.internal:4723